<!DOCTYPE html>
<html>
<head>
  <title>PalomLoja</title>
  <%= stylesheet_link_tag 'application', params[:controller], :media => 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application',  params[:controller], 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Navigation Top -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">PalomLoja</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    </div>
  </div>
  <!-- /.container -->
</nav>


<!-- Page Content -->
<div class="container">

  <div class="row">

    <div class="col-md-3">
      <div class="list-group">
        <%= render partial: 'layouts/categorias', collection: @categorias, locals: {selected: @categoria} %>
      </div>
    </div>
    <%= yield %>
  </div>
</div>
<!-- /.container -->

</body>
</html>
